.score-lobby {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100px;
}

.score-lobby svg {
  filter: drop-shadow(0 0 1px black);
  left: -3px;
  position: absolute;
  top: -7px;
  width: 35%;
  z-index: 1;
}

.score-lobby-value {
  align-items: center;
  background-color: #2b4707;
  border-left: none;
  border-radius: 0 20px 20px 0;
  color: white;
  display: flex;
  font-weight: bold;
  height: 25px;
  justify-content: center;
  margin-left: 10px;
  overflow: hidden;
  padding-left: 15px;
  position: relative;
  width: 100%;
}
