.logo-game {
  align-items: center;
  animation: bounceIn 0.5s both;
  background-color: #463a2d;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: flex;
  height: 140px;
  justify-content: center;
  position: relative;
  width: calc(var(--base-width) - 140px);
}

.logo-game::after {
  content: "";
  position: absolute;
  width: 92%;
  height: 85%;
  border: 2px dashed #e3e3e4;
  border-radius: 50%;
}

.logo-game-title {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 38px;
  font-weight: bold;
  height: 100%;
  justify-content: center;
  line-height: 40px;
  width: 100%;
}

.logo-game-title span:first-child {
  color: #ffda03;
  background: linear-gradient(#ffda03, #ffab00);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-game-dices .dice.one {
  transform: rotate(-20deg);
}

.logo-game-dices .dice.all {
  transform: rotate(20deg);
}
