.draggable-wrapper {
  bottom: 60px;
  cursor: grab;
  left: 144px;
  position: absolute;
  z-index: 10;
  /* border: 5px solid red; */
}

.draggable-wrapper.orientation-2 div:nth-child(2) {
  z-index: 0;
}

.draggable-wrapper.hide {
  display: none;
}

.draggable-wrapper.dragging {
  cursor: grabbing;
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.3));
}
